/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

html, body { height: 100%; }

body {
    align-items: center;
    background: var(--grayish-cyan-light);
    display: flex;
    justify-content: center;
    margin: 0;
}

button {
    background: var(--cyan-very-dark);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    height: 40px;
}

input {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}

app-root {
    color: var(--grayish-cyan-dark);
    font-family: 'Space Mono', monospace;
    height: 100%;
    width: 100%;
}

:root {
    --cyan-strong: hsl(172, 67%, 45%);
    --cyan-very-dark: hsl(183, 100%, 15%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --grayish-cyan-dark: hsl(186, 14%, 43%);
    --grayish-cyan-light: hsl(185, 41%, 84%);
    --grayish-cyan-very-light: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}