<div class="main" role="main">
    <div class="main__title">
        <h1 class="main__title__text">SPLI</h1>
        <h1 class="main__title__text">TTER</h1>
    </div>
    <div class="main__card">
        <div class="main__card__options">
            <div class="main__card__options__bill">
                <h3 class="main__card__options__bill__title">Bill</h3>
                <input class="main__card__options__bill__input" type="number">
            </div>
            <div class="main__card__options__tip">
                <h3 class="main__card__options__tip__title">Select Tip %</h3>
                <button class="main__card__options__tip__percent">5%</button>
                <button class="main__card__options__tip__percent">10%</button>
                <button class="main__card__options__tip__percent">15%</button>
                <button class="main__card__options__tip__percent">25%</button>
                <button class="main__card__options__tip__percent">50%</button>
                <button class="main__card__options__tip__custom">Custom</button>
            </div>
            <div class="main__card__options__people">
                <h3 class="main__card__options__people__title">Number of People</h3>
                <input class="main__card__options__people__input" type="number">
            </div>
        </div>
        <div class="main__card__values">
            <div class="main__card__values__result">
                <div class="main__card__values__result__amount">
                    <div class="main__card__values__result__amount__text">
                        <h3 class="main__card__values__result__amount__text__title">Tip Amount</h3>
                        <h6 class="main__card__values__result__amount__text__subtitle">/ person</h6>
                    </div>
                    <input class="main__card__values__result__amount__input" type="number">
                </div>
                <div class="main__card__values__result__total">
                    <div class="main__card__values__result__total__text">
                        <h3 class="main__card__values__result__total__text__title">Total</h3>
                        <h6 class="main__card__values__result__total__text__subtitle">/ person</h6>
                    </div>
                    <input class="main__card__values__result__total__input" type="number">
                </div>
            </div>
            <button class="main__card__values__button">RESET</button>
        </div>
    </div>
</div>