.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;

    &__logo {
        margin: auto;
    }

    &__card {
        background: var(--white);
        border-radius: 20px;
        display: flex;
        padding: 25px;

        &__options,
        &__values {
            display: flex;
            flex-direction: column;
        }

        &__options {
            background: var(--white);
            padding: 15px;
            margin-right: 25px;

            &__bill,
            &__people {
                display: flex;
                flex-direction: column;

                &__label {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .hidden {
                        display: none;
                    }

                    .visible {
                        color: orange;
                    }
                }

                &__container {
                    display: flex;
                    align-items: center;

                    &__icon {
                        margin-left: 10px;
                        position: absolute;
                    }

                    &__input {
                        background: var(--grayish-cyan-very-light);
                        border: 2px solid var(--white);
                        border-radius: 5px;
                        color: var(--cyan-very-dark);
                        padding: 0 10px 0 30px;
                        text-align: right;
                        width: 100%;
    
                        &::placeholder {
                            color: var(--grayish-cyan);
                        }
    
                        &:focus {
                            outline: none;
                            box-shadow: none;
                            border: 2px solid var(--cyan-strong);
                        }

                        &:hover {
                            border: 2px solid var(--cyan-strong);
                            cursor: pointer;
                        }

                        /* Chrome, Safari, Edge, Opera */
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        /* Firefox */
                        &[type=number] {
                            -moz-appearance: textfield;
                        }
                    }

                    .warning {
                        border: 2px solid orange;
                    }
                }
            }

            &__tip {
                display: flex;
                flex-direction: column;
                margin: 30px 0;

                &__title {
                    margin: 0;
                    font-size: 16px;
                }

                &__container {
                    display: grid;
                    gap: 10px;
                    grid-template-columns: repeat(3,1fr);

                    &__percent {
                        width: 100px;

                        &:hover {
                            background: var(--grayish-cyan-light);
                            color: var(--cyan-very-dark);
                            cursor: pointer;
                        }
                    }

                    .active {
                        background: var(--cyan-strong);
                        color: var(--cyan-very-dark);
                    }

                    &__custom {
                        background: var(--grayish-cyan-very-light);
                        border: 2px solid var(--white);
                        border-radius: 5px;
                        color: var(--cyan-very-dark);
                        font-family: 'Space Mono', monospace;
                        font-size: 20px;
                        height: 40px;
                        padding: 0 10px;
                        text-align: right;
                        width: calc(100px - 20px - 4px);

                        &::placeholder {
                            color: var(--grayish-cyan-dark);
                            text-align: center;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                            border: 2px solid var(--cyan-strong);
                        }

                        &:hover {
                            cursor: pointer;
                        }

                        /* Chrome, Safari, Edge, Opera */
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        /* Firefox */
                        &[type=number] {
                            -moz-appearance: textfield;
                        }
                    }
                }
            }
        }

        &__values {
            border-radius: 20px;
            background: var(--cyan-very-dark);
            justify-content: space-between;
            padding: 35px;

            &__result {
                display: flex;
                flex-direction: column;

                &__amount,
                &__total {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-width: 250px;

                    &__text {
                        display: flex;
                        flex-direction: column;

                        &__title {
                            color: var(--white);
                            margin: 0;
                        }

                        &__subtitle {
                            margin: 0;
                        }
                    }

                    &__value {
                        color: var(--cyan-strong);
                        margin: 0;
                    }
                }
            }

            &__button {
                background: var(--cyan-strong);
                color: var(--cyan-very-dark);

                &:hover {
                    background: var(--grayish-cyan-light);
                    cursor: pointer;
                }
            }
        }
    }

    .attribution {
        margin: auto 20px;
        text-align: center;

        &__link {
            color: var(--cyan-very-dark);
            text-decoration: none;

            &:hover {
                color: var(--cyan-strong);
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .main {
        &__card {
            flex-direction: column;
            
            &__options {
                &__tip {
                    &__container {
                        grid-template-columns: repeat(2,1fr);

                        &__percent {
                            width: 100%;
                        }

                        &__custom {
                            width: calc(100% - 20px - 4px);
                        }
                    }
                }
            }
        }
    }
}