<div class="main" role="main">
    <div class="main__logo">
        <img src="assets/logo.svg" alt="Splitter">
    </div>
    <div class="main__card">
        <div class="main__card__options">
            <div class="main__card__options__bill">
                <label class="main__card__options__bill__title" for="bill">Bill</label>
                <div class="main__card__options__bill__container">
                    <img class="main__card__options__bill__container__icon" src="assets/icon-dollar.svg" alt="Dollar">
                    <input class="main__card__options__bill__container__input" id="bill" type="number" placeholder="0" (keyup)="onBill($event)">
                </div>
            </div>
            <div class="main__card__options__tip">
                <h1 class="main__card__options__tip__title">Select Tip %</h1>
                <div class="main__card__options__tip__container">
                    <button class="main__card__options__tip__container__percent" (click)="onTip(5)">5%</button>
                    <button class="main__card__options__tip__container__percent" (click)="onTip(10)">10%</button>
                    <button class="main__card__options__tip__container__percent" (click)="onTip(15)">15%</button>
                    <button class="main__card__options__tip__container__percent" (click)="onTip(25)">25%</button>
                    <button class="main__card__options__tip__container__percent" (click)="onTip(50)">50%</button>
                    <input class="main__card__options__tip__container__custom" type="number" placeholder="Custom" (keyup)="onCustomTip($event)">
                </div>
            </div>
            <div class="main__card__options__people">
                <label class="main__card__options__people__title" for="people">Number of People</label>
                <div class="main__card__options__people__container">
                    <img class="main__card__options__people__container__icon" src="assets/icon-person.svg" alt="Person">
                    <input class="main__card__options__people__container__input" id="people" type="number" placeholder="0" (keyup)="onPeople($event)">
                </div>
            </div>
        </div>
        <div class="main__card__values">
            <div class="main__card__values__result">
                <div class="main__card__values__result__amount">
                    <div class="main__card__values__result__amount__text">
                        <h5 class="main__card__values__result__amount__text__title">Tip Amount</h5>
                        <h6 class="main__card__values__result__amount__text__subtitle">/ person</h6>
                    </div>
                    <h1 class="main__card__values__result__amount__value">$0.00</h1>
                </div>
                <div class="main__card__values__result__total">
                    <div class="main__card__values__result__total__text">
                        <h5 class="main__card__values__result__total__text__title">Total</h5>
                        <h6 class="main__card__values__result__total__text__subtitle">/ person</h6>
                    </div>
                    <h1 class="main__card__values__result__total__value">$0.00</h1>
                </div>
            </div>
            <button class="main__card__values__button">RESET</button>
        </div>
    </div>

    <div class="attribution">
        Challenge by <a class="attribution__link" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a class="attribution__link" href="https://github.com/andrew8gmf">Andrew Fernandes</a>.
    </div>
</div>